In [60]:
import requests
import json 
import matplotlib.pyplot as plt 
import numpy as np
from citipy import citipy
import pandas as pd
from config import api_key

In [61]:
# Generate random list of lat and lon 
latitude=[]
longitude=[]
for lat in np.random.randint(-90,90,1000):
    latitude.append(lat)
    
for lon in np.random.randint(-180,180,1000):
    longitude.append(lon)
 
cordination = tuple(zip (latitude,longitude))

In [62]:
# locate cities in this cordination 
cities=[]
countries=[]

for new_lat,new_log in cordination: 
    city=citipy.nearest_city(new_lat,new_log)
    
    cities.append(city.city_name)
    countries.append(city.country_code)

df_countries= pd.DataFrame (
                    {"Cities": cities, "Country" :countries})

df_countries['Latitude'] = ''
df_countries['Longitude'] = ''
df_countries['Temperature (F)'] = ''
df_countries['Humidity (%)'] = ''
df_countries['Cloudiness (%)'] = ''
df_countries['Wind Speed (mph)'] = ''

df_countries = df_countries.drop_duplicates(subset=['Cities'],keep='first')

df_countries.head(10)

,Cities,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,albany,au,,,,,,
1,busselton,au,,,,,,
2,butaritari,ki,,,,,,
3,east london,za,,,,,,
4,madaoua,ne,,,,,,
5,namibe,ao,,,,,,
6,miandoab,ir,,,,,,
7,barentsburg,sj,,,,,,
8,jamestown,sh,,,,,,
10,kapaa,us,,,,,,

In [67]:
for index,row in df_countries.iterrows():
    city_name = row['Cities']
    Country_id = row['Country']
    
    
    #api call for all Cities 
    api_url = "http://api.openweathermap.org/data/2.5/forecast" \
    "?q={},{}&units=IMPERIAL&mode=json&APPID={}".format(city_name,Country_id,api_key)
    
    
    country_info = requests.get(api_url).json()
    
    #print all api url's for each city
    #print(api_url)
    
    
    try:
        df_countries.set_value(index,'Latitude',country_info['city']['coord']['lat'])
        df_countries.set_value(index,'Longitude',country_info['city']['coord']['lon'])
        df_countries.set_value(index,'Temperature (F)',country_info['list'][0]['main']['temp'])
        df_countries.set_value(index,'Humidity (%)',country_info['list'][0]['main']['humidity'])
        df_countries.set_value(index,'Cloudiness (%)',country_info['list'][0]['clouds']['all'])
        df_countries.set_value(index,'Wind Speed (mph)',country_info['list'][0]['wind']['speed'])
        
    except KeyError:
        df_countries.set_value(index,'Latitude',np.nan)
        df_countries.set_value(index,'Longitude',np.nan)
        df_countries.set_value(index,'Temperature (F)',np.nan)
        df_countries.set_value(index,'Humidity (%)',np.nan)
        df_countries.set_value(index,'Cloudiness (%)',np.nan)
        df_countries.set_value(index,'Wind Speed (mph)',np.nan)
        
        print('null')


df_countries.head()

AttributeError: 'DataFrame' object has no attribute 'set_value'